%h1 Home Page Help

%p
	The home page shows the most recent measurements from each smartstrip in
	your home. The display will update automatically as long as you have the page open.
	Each smartstrip sends new measurements wirelessly every three seconds or so.
	
%p
	In case there is no data displayed for one of your smartstrips, refer to the
	=link_to "troubleshooting guide.",:action=>:trouble

%p
	Use the bottom of the page to record your impressions and questions about the 
	measurements displayed on the home page or the page design itself.
	
%h2 Power Display

%p
	The electric power consumed by each smartstrip is display in two ways: in Watts and
	as a projected cost. The projected cost corresponds to continuous usage at the
	present rate for 24 hours, using a nominal energy cost of 10&cent; per kilowatt-hour.
