%h1 Home Page Help

%p
	The
	=link_to "home page", :controller=>:athome, :action=>:index
	shows the most recent measurements from each smartstrip in
	your home. The display will update automatically as long as you have the page open.
	Each smartstrip sends new measurements wirelessly every three seconds or so. Click
	on a location name to display
	=link_to "graphs", :action=>:detail
	of past measurements, or hover over a location name to display its smartstrip
	serial number.
	
%p
	Let one of the uci@home researchers know during your next visit if you would like to
	change the description of a smartstrip location on this page, or change the order
	in which locations are listed.
	
%p
	In case there is no data displayed for one of your smartstrips, refer to the
	=link_to "troubleshooting guide.",:action=>:trouble

%p
	Use the bottom of the page to
	=link_to "record your impressions",:action=>:notes
	and questions about the measurements displayed on the home page or the page
	design itself.
	
-if ATHOME['display_temperature']
	%h2 Temperature Display

	%p
		The real-time temperature at each smartstrip location is displayed in the first
		column of your home page. Values are color coded to indicate if they are above
		(red) or below (blue) your preset comfort zone which is, nominally, 70-80&deg;F.

	%p
		Temperatures are calibrated to reflect the ambient air temperature at the
		smartstrip location, which can vary significantly throughout a typical building
		due its complex microclimate. The individual smartstrip temperature sensors are
		accurate to about one degree Fahrenheit, but temperature changes at any location
		are measured much more accurately.
	
	%p
		Let one of the researchers know if you would like to change the display units
		for temperature, adjust the comfort zone defined for any smartstrip location, or
		if you suspect a temperature calibration problem.

-if ATHOME['display_lighting']
	%h2 Lighting Display
	
	%p
		The real-time lighting conditions detected by each smartstrip are displayed by an
		icon whose color indicates whether artificial light is detected (yellow) or
		not (green). Click
		=link_to "here", :action=>:lighting
		for details on how lighting conditions are measured. Use the
		=link_to "lighting graphs", :action=>:detail
		to get an overview of how the quantity of light changes at each location.

-if ATHOME['display_power']
	%h2 Power Display

	%p
		The real-time electric power consumed by each smartstrip is display in two ways: in
		=link_to "Watts",:action=>:units
		and as a projected cost. The projected cost corresponds to continuous usage at the
		present rate for 24 hours, using a nominal energy cost of 10&cent; per
		kilowatt-hour. Let one of the researchers know if you would like to use a different
		nominal cost for your display.

	%p
		The right-hand column on your home page shows the actual cost of the energy used
		by each smartstrip over the past 24 hours. The value updates continuously so that,
		for example, at 3:14pm on Thursday it is reporting your actual energy cost since
		3:14pm Wednesday.	When the projected cost is above the actual cost, you are using 
		more power than usual at that location, based on the past 24 hours.

	%p
		Actual cost values are based on the power measured by the smartstrip over the 
		preceding 24 hours. In case the smartstrip was not reporting data for some part
		of these 24 hours, the value displayed will be an estimate assuming that data
		that was reported is typical for the whole period.
