%h1 Note Taking

%p
	The area at the bottom of the page is for you to enter any notes that you would
	like to share with the uci@home research team. We particularly welcome your
	impressions and questions about the data you are viewing or the design of our
	web pages and software.
	
%p
	Your notes are saved in a database and will be regularly reviewed by the research
	team. You do not need to copy any of the data you are viewing into your note
	since our software will automatically capture it.
	
%p
	Let one of the researchers know if you would like to edit or add to the list of
	people listed in the "Note by" menu.
	
%p
	Feel free to record your impressions or questions about the note taking feature
	by creating a note on the
	=link_to "home page.",:controller=>:athome,:action=>:index