%h1 Power Consumption Visual Feedback Help

%p
	The purpose of visual feedback on your power consumption is to enable you to
	become aware of your usage of an otherwise invisible resource. You already use
	visual feedback to help track other important resources such as the amount of
	food in your fridge or gasoline in your car.

%p
	In contrast to the web displays, visual feedback comes directly from LEDs on
	the smartstrips themselves to keep you informed about your electricity usage
	by any smartstrips in view. Since additional LEDs are not always welcome, the 
	research team is seeking the best compromise between delivering useful feedback
	and being unobtrusive. For example, smartstrip LEDs are always turned off when
	the light sensor indicates that a room is dark.

%p
	The visual feedback from each smartstrip is designed to help you identify which
	locations in your home are consuming the most energy over the course of a typical
	day. This visual feedback is derived from the actual 24-hour costs displayed on your
	home page and graphs, and so duplicates information that you could also get via
	a web browser, but makes it always and instantly available when you walk into
	a room.
	
-if ATHOME['energy_feedback_green']
	%p
		A smartstrip will glow green, pulsing slowly on and off every few seconds,
		if the actual cost of the energy it has delivered over the past 24 hours
		is less than 10&cent;, which corresponds to an average sustained power
		consumption level below about 40 Watts. 

-if ATHOME['energy_feedback_red']
	%p
		A smartstrip will glow red, pulsing slowly on and off every few seconds,
		if the actual cost of the energy it has delivered over the past 24 hours
		is more than 25&cent;, which corresponds to an average sustained power
		consumption level above about 100 Watts.
