%h1 Power Consumption Audio Feedback Ranges

%p
	The diagram below shows the correspondence between changes in power consumption
	and musical intervals.

%img(src='/images/help/pwr_audio_ranges.png')

%p
	Return to the
	=link_to "power audio feedback help page.", :action=>:pwr_audio