%h1 Power Consumption Audio Feedback Help

%p
	The purpose of audio feedback on your power consumption is to enable you to
	become aware of your usage of an otherwise invisible resource. You already use
	similar feedback to help track another important resource in your home, water,
	when you recognize the different sounds of a load of laundry, garden sprinklers,
	or a toilet that is not flushing correctly.
	
%p
	In contrast to the web displays, audio feedback comes directly from the smartstrips
	themselves to keep you informed about your electricity usage within earshot. Since
	additional sounds are not always welcome, the research team is seeking the best
	compromise between delivering useful feedback and being unobtrusive.
	
%p
	The audio feedback from each smartstrip is designed so that you can "hear" the main
	features of the power consumption graph at that location. In particular, the
	sudden jumps in consumption when something is turned on or off are translated into
	musical intervals and the plateaus between these jumps are audible as a series of
	random "Geiger counter" clicks if they represent especially high levels of energy
	use.
	
%img(src='/images/help/pwr_audio_steps.png')

%p
	The graph above shows the power consumed by a lamp and toaster plugged into the
	same smartstrip. The lamp is turned on first and, while the lamp remains on, the
	toaster is used for a few minutes. The smartstrip plays rising musical intervals
	when the lamp and toaster turn on and falling intervals when they turn off. The
	musical interval accompanying the toaster is larger to indicate that it uses
	more power than the lamp. For the musically inclined, the correspondence between
	musical intervals and changes in power consumption are shown
	=link_to "here.", :action=>:pwr_audio_ranges

