%h1 Troubleshooting Guide

%p
	If you have a suggestion or question about the information provided here, feel
	free to add a note on the
	=link_to "home page.", :controller=>:athome, :action=>:index

%h2 No Data Displayed

%p
	When there is no data displayed for a smartstrip on your
	=link_to "home page", :controller=>:athome, :action=>:index
	this indicates that the hub has not received any wireless updates in the last
	minute. Assuming that the smartstrip is plugged in, the most likely explanation
	is a poor wireless connection. Try moving the smartstrip to an outlet that is closer
	to the hub and see if that helps. We will be working with you during the study
	to try and optimize the device placement and minimize any interference from other
	services using the same radio frequencies such as wifi and bluetooth.