%h1 Electric Power and Energy Units

%h2 Power

%p
	Power is usually measured in Watts, named after the Scottish engineer whose work on
	steam engines helped to usher in the industrial revolution. Power measures the rate
	at which you are using energy.
	
%p
	Most household electrical circuits provide a maximum of about 1800 Watts to all 
	appliances plugged into the same circuit breaker. Some blow dryers draw almost this
	much on their own, but most of the items you plug in require much less.
	
%p
	Plug in devices often use energy even when they appear to be off or unused. This
	"vampire" standby power is typically in the range of 0.1 to 10 Watts. For example
	the surge suppressor in your smartstrip consumes about 0.2 Watts even when there
	is nothing plugged in to it (use the switch at the end of the smartstrip to turn
	it off completely).

%p
	For comparison, the essential metabolic functions required to keep you alive
	require roughly one hundred Watts. Physical activities such as running can
	increase your energy requirements by several hundred Watts. While you hold
	your hand out on a sunny day, it is receiving about 30 Watts of solar energy.