log/*.log
tmp/*
tmp/**/*
db/*.sqlite3

# stylesheets are generated on the fly using haml/sass
public/stylesheets/*.css

# copy and edit config/database-template.yml
config/database.yml

# ignore local overrides of config/athome_defaults.yml
config/athome_local.yml
