%table
	%tr
		%th Time Ago
		%th Serial #
		%th Commit Date
		%th Commit ID
		%th Modified?
		%th Power Reset?
		%th Ext Reset?
		%th Brown-out Reset?
		%th Watch-dog Reset?
	-@lams.each do |l|
		%tr
			%td&=time_ago_in_words l.created_at, true
			%td&=format_serialNumber l.serialNumber
			%td&=l.commitDate
			%td=link_to_commitID(l)
			%td&=l.modified
			%td&=l.powerReset
			%td&=l.extReset
			%td&=l.brownoutReset
			%td&=l.wdogReset
