%table
	%tr
		%th ID
		%th Created
		%th NetID
		%th Order
		%th Description
	-@profiles.each do |p|
		%tr
			%td&=p.id
			%td&="#{time_ago_in_words p.created_at} ago"
			%td&=p.networkID
			%td&=p.display_order
			%td&=p.description
			%td=link_to 'Update', :action=>:edit, :id => p
