:javascript
	samplePlots = #{@samplePlots.to_json}

%p
	=link_to "Download", params.merge(:format => :text)
	or
	=link_to "display", '#data'
	raw data.

%h2#temperature.sample-plot Temperature

%p These are the raw measurements without any self-heating corrections applied.

%h2 Lighting

%h3#lighting.sample-plot Mean Lighting Level

%h3#artificial.sample-plot Fraction of 120 Hz Ripple Detected

%p Different types of artificial lighting have different expected fractions.

%h3#lightFactor.sample-plot Lighting Power Factor

%p An incandescent light source should have a high value.

%h2 Power

%h3#power.sample-plot Power Consumption

%p Units are Watts.

%h3#powerFactor.sample-plot Power Factor

%p A resistive load has a high value. Capacitive and inductive loads have lower values.

%h3#complexity.sample-plot Power Load Complexity

%p A high complexity usually indicates that a load does internal power management.

%h2
	%a{:name=>'data'} Numerical Sample Data
