%table
	%tr
		%th Timestamp
		%th ID
		%th Light
		%th Art./256
		%th L.F./256
		%th Power (W)
		%th P.F./256
		%th Complex/256
		%th Temp (&deg;F)
	-@samples.each do |s|
		%tr
			%td&=s.created_at.localtime.strftime "%d %b %H:%M:%S"
			%td&=s.networkID
			%td&=s.lighting
			%td&=s.artificial
			%td&=s.lightFactor
			%td&=s.power
			%td&=s.powerFactor
			%td&=s.complexity
			%td&=sprintf "%.2f",1e-2*s.temperature