:javascript
	samplePlots = #{@samplePlots.to_json}

%h2#temperature.sample-plot Temperature

%p These are the raw measurements without any self-heating corrections applied.

%h2 Lighting

%h3#lighting.sample-plot Mean Lighting Level

%h3#artificial.sample-plot Fraction of 120 Hz Ripple Detected

%p Different types of artificial lighting have different expected fractions.

%h3#lightFactor.sample-plot Lighting Power Factor

%p An incandescent light source should have a high value.

%h2 Power

%h3#power.sample-plot Power Consumption

%p Units are Watts.

%h3#powerFactor.sample-plot Power Factor

%p A resistive load has a high value. Capacitive and inductive loads have lower values.

%h3#complexity.sample-plot Power Load Complexity

%p A high complexity usually indicates that a load does internal power management.

%h2 Numerical Sample Data

%table
	%tr
		%th Timestamp
		%th ID
		%th Serial Num
		%th netID
		%th Light
		%th Art./256
		%th L.F./256
		%th Power (W)
		%th P.F./256
		%th Complex/256
		%th Temp (&deg;F*100)
	-@samples.each do |c_and_s|
		-c,s= c_and_s
		%tr
			%td&="#{time_ago_in_words s.created_at} ago"
			%td&=s.id
			%td&=format_serialNumber(c.serialNumber) if c
			%td&=s.networkID
			%td&=s.lighting
			%td&=s.artificial
			%td&=s.lightFactor
			%td&=s.power
			%td&=s.powerFactor
			%td&=s.complexity
			%td&=s.temperature