-content_for :head do
	=javascript_include_tag 'excanvas','flot','eng-plot'

-content_for :title,'Recent Device Samples'

%p Displaying the most recent #{@n} of #{@count} samples.

=render :partial => "config" if @config
=render :partial => "plots"
