body
  color: gray
  background-color: white
  font-family: Arial, Verdana, Helvetica, sans-serif
  
h1
  height: 48px
  line-height: 48px
  text-align: right
  background: gray url(/images/logo.png) no-repeat right
  padding: 8px 64px 8px 0
  color: white

.eng-plot
  width: 1000px
  height: 400px
  
.small-text
  font-size: smaller
  
#flash
  border: solid red 1px
  padding: 8px
  color: black
  background: pink