!contrast = #2C71B2
!shade1 = #0A3B11
!shade2 = #5D7A1E
!shade3 = #959C2A
!shade4 = #DED068

!radius = 16px

body
  margin: 0
  padding: 0
  background-color= !shade3
  font-family: Arial, Verdana, Helvetica, sans-serif

#content
  margin: 12px auto 0 auto
  padding: 36px 0
  width: 600px
  text-align: center
  color= !shade4
  #header
    font-size: 36px
    margin-bottom: 12px
  #body
    position: relative
    border= "8px" "solid" !contrast
    -webkit-border-radius= !radius
    -moz-border-radius= !radius
    background-color= !shade2
    font-size: 18px
    #datetime
      line-height: 18px
      height: 22px
      background-color= !contrast
    #date
      position: absolute
      left: 8px
    #time
      position: absolute
      right: 8px
    table
      width: 100%
      th
        border-bottom= 1px dotted !shade1
      .location
        text-align: right
  ul#navigation
    color= !contrast
    font-size: 22px
    padding: 0
    margin: 10px 0
    li
      display: inline
      list-style-type: none
      padding: 0 10px
    a:link,a:visited
      color= !shade2
    a:hover,a:active
      color= !contrast
  #note
    font-size: 16px
    color= !shade2
    background-color= !shade3
    textarea
      border= 1px dotted !shade2
      background-color: inherit
      color: inherit
      font-size: inherit
      width: 90%
    a:link,a:visited
      color: inherit
    a:hover,a:active
      color= !shade4
      