/* see my hub@home theme1 at kuler.com */
!contrast = #2C71B2
!contrast2 = #5987B2
!shade1 = #DED336
!shade2 = #5D7A1E
!shade3 = #959C2A
!shade4 = #DED068
!blackish = #2B340A
!whiteish = #F5F9DD

!radius = 16px

body
  margin: 0
  padding: 0
  color= !shade4
  background-color= !shade3
  font-family: Arial, Verdana, Helvetica, sans-serif
  text-align: center
  a:link,a:visited
    color= !shade1
  a:hover,a:active
    color= !contrast

.popup
  position: absolute
  background-color= !whiteish
  color= !blackish
  opacity: 0.8
  border= 1px dotted !blackish
  padding: 2px 4px
  font-size: smaller

#content
  margin: 12px auto 0 auto
  padding: 18px 0
  width: 600px
  #header
    font-size: 30px
    margin-bottom: 12px
    color= !shade1
    text-shadow= !shade2 2px 2px 3px
  #body
    position: relative
    border= 10px solid !contrast
    -webkit-border-radius= !radius
    -moz-border-radius= !radius
    background-color= !contrast
    font-size: 18px
    #datetime
      line-height: 18px
      height: 22px
    #date
      position: absolute
      left: 8px
    #time
      position: absolute
      right: 8px
    table
      color= !blackish
      background-color= !whiteish
      width: 100%
      text-align: right
      border-collapse: collapse
      th
        font-weight: bold
        font-style: italic
        color= !contrast
        padding: 4px 4px
      .where
        text-align: left
      td
        margin: 0
        padding: 4px 4px
        border-top= 1px solid !contrast
      .nodata
        font-style: italic
        color: #bbb
      td.lighting
        padding: 0
      span.lighting
        display: inline-block
        background-image: url(/images/lighting-background.png)
        background-repeat: no-repeat
        background-position: right top
        position: relative
        .overlay
          position: absolute
          right: 0
          top: 0
      a:link,a:visited
        text-decoration: none
        color: inherit
      a:hover,a:active
        text-decoration: none
        color= !contrast
    .frame
      width: auto
      padding-right: 20px
      background-color= !whiteish
      .plot
        width: auto
        height: 200px
        padding-bottom: 8px
        .tickLabel
          font-size: 12px
      .title
        color= !blackish
        font-style: italic
        font-size: 14px
        text-align: left
        padding: 12px 0 0 40px
    #footer
      position: relative
      padding-top: 8px
      a
        cursor: pointer
      a:hover
        color= !whiteish
      a.disabled
        color= !contrast2
      #zoom
        display: inline-block
        width: 100px
        height: 42px
        vertical-align: middle
        #zoom-in
          font-size: larger
        #zoom-out
          font-size: smaller
      #oldest
        position: relative
        right: 32px
      #newest
        position: relative
        left: 32px
  ul#navigation
    color= !contrast
    font-size: 22px
    padding: 0
    margin: 10px 0
    li
      display: inline
      list-style-type: none
      padding: 0 14px
  #note
    font-size: 16px
    font-style: italic
    color= !shade2
    background-color= !shade3
    margin: 0 16px
    textarea,#replay
      border= 1px dotted !shade2
      background-color: inherit
      color: inherit
      font-size: inherit
      font-style: inherit
      width: 100%
    .active,#replay
      background-color= !shade1
    #replay
      padding: 0
      margin: 0 auto
      white-space: pre
      text-align: left
    a:link,a:visited
      color: inherit
    a:hover,a:active
      color= !shade4
    #note_by
      float: left
    #note_save
      text-align: right

#help
  margin: 8px 16px 8px 32px
  text-align: left
  font-size: 18px
  h1
    font-family: Georgia, 'Times New Roman', serif
    text-align: right
    padding: 8px 16px
    background-color= !contrast
  h2
    font-family: Georgia, 'Times New Roman', serif
    padding-bottom: 4px
    border-bottom= 1px dotted !contrast
  p
    color= !whiteish
    padding: 0 18px
  img
    display: block
    margin-left: auto
    margin-right: auto
  #footer
    margin-top: 18px
    border-top= 2px solid !contrast
    padding: 4px 8px
    text-align: right
    position: relative
    font-size: 14px
    #back
      position: absolute
      left: 8px