!contrast = #2C71B2
!shade1 = #0A3B11
!shade2 = #5D7A1E
!shade3 = #959C2A
!shade4 = #DED068

!radius = 16px

body
  margin: 0
  padding: 0
  background-color= !shade3
  font-family: Arial, Verdana, Helvetica, sans-serif

#content
  margin: 12px auto 0 auto
  padding: 36px 0
  width: 600px
  text-align: center
  color= !shade4
  #header
    font-size: 36px
    margin-bottom: 12px
  #body
    border= "8px" "solid" !contrast
    -webkit-border-radius= !radius
    -moz-border-radius= !radius
    background-color= !shade2
    font-size: 18px
    table
      width: 100%
      .location
        text-align: right
  ul#navigation
    color= !contrast
    font-size: 22px
    li
      display: inline
      list-style-type: none
      padding-right: 20px
    a:link,a:visited
      color= !shade2
    a:hover,a:active
      color= !contrast