:javascript
	binnedPlots = #{@binnedPlots.to_json}

%h2#temperature.binned-plot Temperature

%h2#lighting.binned-plot Lighting

%h2#artificial.binned-plot Artificial Fraction

%h2#lightFactor.binned-plot Lighting Factor

%h2#power.binned-plot Power

%h2#powerFactor.binned-plot Power Factor

%h2#complexity.binned-plot Complexity