-content_for :head do
	=javascript_include_tag 'excanvas','flot','eng-plot'

-content_for :title,'Device Samples Binned in a Time Window'

%p Displaying samples binned for network ID #{@config.networkID} during the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

=render :partial => "plots"
