#content
	#header
		Welcome to your hub@home
	#body
		%table
			%tr
				%th
				%th Temp
				%th Light
				%th Power
				%th Cost
			-@samples.each do |s|
				%tr
					%td&= s.config.location
					%td&= sprintf "%.1fF",1e-2*s.temperature
					%td&= sprintf "%d (%.0f%%)",s.lighting,1e2*s.artificial/s.lighting