%h1 All Device Configurations

Displaying all #{@configs.length} device configurations defined at #{@at.localtime}.

=render :partial => "configs"

%br

=link_to 'Most Recent Configs', :action=>:index, :at=>@at.httpdate
|
=link_to 'New Device Config', :action=>:new