%h1 Engineering::Config#index

-if flash[:notice]
	#error_msg= flash[:notice]

Displaying #{@configs.length} device configurations.

%table
	%tr
		%th Last Updated
		%th Location
		%th Network ID
		%th Serial Number
		%th Lighting Feedback?
		%th Temperature Feedback?
		%th Min Temperature (F)
		%th Max Temperature (F)

	-@configs.each do |c|
		%tr
			%td="#{time_ago_in_words c.updated_at} ago"
			%td=c.location
			%td=c.networkID
			%td=format_serialNumber c.serialNumber
			%td=c.lightingFeedback
			%td=c.temperatureFeedback
			%td=c.minTemperature
			%td=c.maxTemperature
			%td=link_to 'Edit', :action=>:edit, :id => c
			%td=link_to 'Delete', {:action=>:destroy, :id=>c}, options=:confirm => 'Are you sure?'

%br

=link_to 'New Device Config', :action=>:new