-content_for :title,'Current Device Configurations'

Displaying the #{@configs.length} most recent device configurations defined at #{@at.localtime}.

=render :partial => "configs"

%br

=link_to 'All Configs', :action=>:all, :at=>@at.httpdate
|
=link_to 'New Device Config', :action=>:new