%h1 Engineering::Config#index

-if flash[:notice]
	#error_msg= flash[:notice]

Displaying #{@configs.length} device configurations.

%table
	%tr
		%th Location
		%th Network ID
		%th Lighting Feedback?
		%th Temperature Feedback?
		%th Min Temperature (F)
		%th Max Temperature (F)
		%th Serial Number

	-@configs.each do |c|
		%tr
			%td=h c.location
			%td=h c.networkID
			%td=h c.lightingFeedback
			%td=h c.temperatureFeedback
			%td=h c.minTemperature
			%td=h c.maxTemperature
			%td=h c.serialNumber
			%td=link_to 'Edit', :action=>:edit, :id => c
			%td=link_to 'Delete', {:action=>:destroy, :id=>c}, options=:confirm => 'Are you sure?'

%br

=link_to 'New Device Config', :action=>:new