%h1 Engineering::Config#index

Displaying #{@configs.length} device configurations.

%table.small-text
	%tr
		%th ID
		%th Created
		%th Location
		%th Network ID
		%th Serial Number
		%th Light FB?
		%th Temp FB?
		%th Light Dumps?
		%th Pwr Dumps?
		%th Dump Interval (cycles)
		%th Min Comfort (F)
		%th Max Comfort (F)
		%th Self Heat Offset (F/100)
		%th Self Heat Delay (sec*10)
		%th Fid Shift Hi (&mu;s)
		%th Fid Hi-Lo Delta (&mu;s)
		%th Pwr Gain Hi (mW/ADC)
		%th Pwr Gain Lo (mW/ADC)
		%th Max Hi Clip
	-@configs.each do |c|
		%tr
			%td&=c.id
			%td&="#{time_ago_in_words c.created_at} ago"
			%td&=c.location
			%td&=c.networkID
			%td&=format_serialNumber c.serialNumber
			%td&=c.lightingFeedback
			%td&=c.temperatureFeedback
			%td&=c.lightingDump
			%td&=c.powerDump
			%td&=c.dumpInterval
			%td&=c.comfortTempMin
			%td&=c.comfortTempMax
			%td&=c.selfHeatOffset
			%td&=c.selfHeatDelay
			%td&=c.fiducialShiftHi
			%td&=c.fiducialHiLoDelta
			%td&=c.powerGainHi
			%td&=c.powerGainLo
			%td&=c.nClipCut
			%td=link_to 'Update', :action=>:edit, :id => c
			%td=link_to 'Raw', :action=>:raw, :id=> c, :format=> :text

%br

=link_to 'New Device Config', :action=>:new