%h1 New Device Configuration

-form_for(:device_config,@config,:url=>{:action=>"create"}) do |@form|
	= @form.error_messages
	=render :partial => "form"
	%p
		= @form.submit 'Create'

= link_to 'Back', :action => :index