-content_for :head do
	=javascript_include_tag 'excanvas','flot','eng-plot'

%h1 Engineering::Samples#recent

%p Displaying power analysis for the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

%p Found #{@dumps.length} dumps during this interval.

%h2 Voltage Phase Analysis

=@fidAreaData.inspect

%h2 Low-Gain Current Analysis

%h2 High-Gain Current Analysis