%table
	%tr
		%th Timestamp
		%th Time Ago
		%th ID
		%th Source
		%th Micros
		%th Header
		%th Analysis
		%th Samples
	-@dumps.each do |d|
		%tr
			%td&=d.created_at.localtime
			%td&=time_ago_in_words d.created_at, true
			%td&=d.networkID
			%td&=source_label d
			%td&=d.micros
			%td&=d.header
			%td= link_to "Graph&hellip;",:action=>"samples",:format=>:html,:id=>d
			%td= link_to "Raw Data",:action=>"samples",:format=>:text,:id=>d
