-content_for :title,'Hub Sensor Readings By Date'

%p Displaying #{@readings.length} hub sensor readings received during the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

=render :partial => "readings"
