%table
	%tr
		%th Timestamp
		%th Code
		%th Severity
		%th Message
	-@logs.each do |l|
		%tr
			%td=l.created_at.localtime
			%td=l.code
			%td="#{l.severity_string} (#{l.severity})"
			%td=l.message
