%h1 Engineering::DeviceLog#recent

-if flash[:notice]
	#error_msg= flash[:notice]

%p Displaying the most recent #{@n} of #{@count} device log messages with severity at least #{@level}.

=render :partial => "logs"
