%table
	%tr
		%th ID
		%th When
		%th Who
		%th What

	-@notes.each do |n|
		%tr
			%td&=n.id
			%td&="#{time_ago_in_words n.created_at} ago"
			%td&=n.user.name if n.user
			%td&=truncate n.body
			%td=link_to 'Show', :action=>:show, :id => n
