%h1 Engineering::Samples#recent

%p Displaying most recent #{@nrecent} of #{@count} samples

%table
	%tr
		%th Timestamp
		%th Sequence #
		%th Lighting (HI)
		%th Artificial (HI)
		%th Lighting (LO)
		%th Artificial (LO)
		%th Temperature (x100F)
	-@samples.reverse_each do |s|
		%tr
			%td=s.created_at
			%td=s.seqno
			%td=s.lighting
			%td=s.artificial
			%td=s.lighting2
			%td=s.artificial2
			%td=s.temperature