!!! XML
!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
	%head
		%meta(http-equiv="content-type" content="text/html;charset=UTF-8")
		%title="uci@home engineering"
		=stylesheet_link_tag 'engineering'
		=javascript_include_tag 'jquery','application'
		=yield :head
	%body
		%h1=yield :title
		%ul#nav
			%li Home
			%li Config
			%li Profile
			%li Sample
			%li Binned
			%li Dump
			%li Analysis
			%li LAM
			%li Log
			%li Hub
		-if flash[:notice]
			#flash&= flash[:notice]
		=yield
